
.icon-comment:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
